@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-size: small;

}
.title{
    font-size: 1.4em;
}
.form-container {
    width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 20vh; /* Adjust the top margin to vertically center the container */
    padding: 50px;
    background-color: #f0f0f0; /* Set the desired gray background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Apply the desired box shadow */
    
  }
  

  .form-container label {
    display: block;
    margin-bottom: 10px;
    color: #333; /* Set the desired label text color */
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Set the desired input border style */
    border-radius: 4px; /* Apply border radius to input fields */
  }
  
  .form-container button[type="submit"] {
    color: white; /* Set the desired submit button text color */
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 1em;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: darkgray;/* Set the desired submit button background color on hover */
  }